<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ESBTTR"
        tools:targetApi="31">
        <activity
            android:name=".view_activities.ViewBetsActivity"
            android:exported="false" />
        <activity
            android:name=".details_activities.LeagueDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".details_activities.MatchDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".details_activities.TeamDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".add_activities.AddLeagueActivity"
            android:exported="false" />
        <activity
            android:name=".add_activities.AddMatchActivity"
            android:exported="false" />
        <activity
            android:name=".view_activities.ViewLeaguesActivity"
            android:exported="false" />
        <activity
            android:name=".view_activities.ViewMatchesActivity"
            android:exported="false" />
        <activity
            android:name=".add_activities.AddTeamActivity"
            android:exported="false" />
        <activity
            android:name=".view_activities.ViewTeamsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>